<mat-card fxFlex class="example-card">
    <mat-card-header>
        <mat-card-title> {{ tittle }} </mat-card-title>
        <mat-card-subtitle> {{ subtittle }} </mat-card-subtitle>
    </mat-card-header>

    <!-- componente dinamico -->
    <mat-card-content>
        <ng-container #appContenedor></ng-container>
    </mat-card-content>

    <a matRipple class="Boption" (click)="navegarA(1)">paso 1</a><br>
    <a matRipple class="Boption" (click)="navegarA(2)">paso 2</a><br>
    <a matRipple class="Boption" (click)="navegarA(3)">paso 3</a><br>

    <!-- 
    <a routerLink="/talonario">TALONARIOS</a><br>
    <a routerLink="/corporativo">CORP</a><br>
    <a routerLink="/publicitaria">PUBLI</a><br> -->

    <mat-card-content *ngIf="step == 0">
        <ul>
            <li matRipple class="Boption" *ngFor="let categoria of categorias" (click)="cargarComponente(categoria)"> {{
                categoria.name }} </li>
        </ul>
    </mat-card-content>

    <mat-card-content *ngIf="step == 1">
        <div>

            <mat-tab-group mat-align-tabs=" start">
                <mat-tab label="FACTURA">
                    <div fxLayout="row" fxLayoutGap="3px" fxLayoutAlign="start center">
                        <p> option 1 </p>
                    </div>
                </mat-tab>

                <mat-tab label="MATERIAL DE ESCRITORIO">EJEMPLARES 1</mat-tab>
            </mat-tab-group>

            <mat-form-field floatLabel="always">
                <mat-label>Cantidad</mat-label>
                <input matInput type="number" class="example-right-align" placeholder="0">
                <span matTextPrefix>$&nbsp;</span>
                <span matTextSuffix>.00</span>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Material</mat-label>
                <mat-select>
                    <mat-option value="couche">Couche</mat-option>
                    <mat-option value="Bond">Bond</mat-option>
                    <mat-option value="Adhesivo">Adhesivo</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Input</mat-label>
                <input matInput>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Select</mat-label>
                <mat-select>
                    <mat-option value="one">First option</mat-option>
                    <mat-option value="two">Second option</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Textarea</mat-label>
                <textarea matInput></textarea>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Enter your password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>

            <p>{{ tittle }}</p>
        </div>
    </mat-card-content>

    <mat-card-content *ngIf="step == 2">
        <div>
            <h1>PUBLICITARIO</h1>
        </div>
    </mat-card-content>

    <mat-card-content *ngIf="step == 2">
        <div>
            <h1>PUBLICITARIO</h1>
        </div>
    </mat-card-content>
    <!-- <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
    </mat-card-actions> -->
    <mat-card-footer>
        <button mat-button *ngIf="step != 0" (click)="before()">anterior</button>
        <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
    </mat-card-footer>
</mat-card>