/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* 
::ng-deep .mat-horizontal-stepper-header {
    pointer-events: none !important;
} */